/* Keyframes */

@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}

#one-1 {
    opacity: 0;
    animation: apparition 2s 0.8s forwards; /* temps d'animation + temps avant d'arriver + garde la position final */
}

#one-2 {
    opacity: 0;
    animation: apparition 4s 0.8s forwards; 
}