/* Four */

.four {
    /*background-image: url('../../public/images/slideThree.png');
    background-size: cover;
    background-position: center;*/
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#title-form {
    font-size: 35px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;

    color: white;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .center-form {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .center-form {
        width: 50%;
    }

    textarea {
        height: 200px;
    }
}

input {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 0 15px 0;
    background-color: black;
}

textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 100px;
    border: none;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 0 15px 0;
    resize: none;
    background-color: black;
}

label {
    color: white;
}

input::placeholder, textarea::placeholder {
    color: rgb(192, 191, 191);
}

.btn-contact {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.btn-contact button {
    padding: 12px;
    width: 80px;

    background-color: whitesmoke;
    color: black;

    border: none;
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
}
