body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden; /* Assure que le body ne scrolle pas */
}

/* Scroll */

.slide {
    width: 100vw;
    height: 100vh;
}

.scroll-horizontal {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    overflow-x: scroll; /* Assure que seul le défilement horizontal est possible */
    overflow-y: hidden;
}

.container-horizontal {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}