<!-- Three -->
<div class="slide three">
    <div class="container-three">
        <div id="h2-name-three">
            <h2>恢复·CV</h2>
        </div>
        <div class="cv">
            <div class="font-2">
                <p class="p-0">26·03·2001</p>
                <p class="p-0">LYON, FRANCE</p>
            </div>
            <p>
                <a href="#" aria-label="Lien vers un formulaire de contact.">在这里联系我</a>
            </p>
            <p class="p-0 font-2">
                <a href="#" aria-label="Lien vers mon linkedin." class="a">Linkedin · ...</a>
            </p>
            <p class="p-0 font-2">
                <a href="https://github.com/ismael699" aria-label="Lien vers mon github." class="a">Github · 2 projects in progress</a>
            </p>
        </div>
    </div>

    <div class="container-three-2">
        <div class="cv">
            <h2 class="title-cv"><strong>EDUCATION</strong></h2>
            <div class="d-flex font-2">
                <p class="width-30 p-0">2024</p>
                <p class="width-70 p-0">BAC+2 · 巴克+2</p>
            </div>
            <div class="d-flex font-2">
                <p class="width-30 p-0">2019</p>
                <p class="width-70 p-0">BAC · 巴克</p>
            </div>
            <h2 class="title-cv"><strong>ACTIVITY</strong></h2>
            <div class="d-flex font-2">
                <p class="width-30 p-0">2024</p>
                <p class="width-70 p-0">Actuellement freelance, je suis ouvert aux opportunités de poste à temps plein.</p>
            </div>
            <div class="d-flex font-2">
                <p class="width-30 p-0">2019 · 2024</p>
                <p class="width-70 p-0">Réalisation de multiples missions d'intérim en parallèle de la recherche de l'emploi idéal.</p>
            </div>
        </div>
    </div>
</div>