<!-- Two -->
<div class="slide two">
    <div class="container-two">
        <h2 id="h2-name-two">Isma</h2>
        <div class="font-2">
            <p>Nǐ hǎo wǒ shì isma,</p>
            <p>je suis un développeur web junior passionné par la création de sites web dynamiques et innovants. Diplômé d'un Bac +2, j'ai acquis des compétences solides dans plusieurs langages de programmation, notamment PHP avec Symfony, HTML, CSS, JavaScript et Vue.js.</p>
            <p>
                <a href="#" aria-label="Lien vers un formulaire de contact.">在这里联系我</a>
            </p>
        </div>
    </div>
    <div class="container-two-img">
        <img id="img-profil" src="samurai-PNG.png" alt="Une photo d'un samurai.">
    </div>
</div>